Lab01/Lab01/Program.cs
/Lab01/Lab01/obj
Lab3/Lab3/Lab3.csproj
Lab3/Lab3/obj/Debug/Lab3.pdb
Lab2/.vs/Lab2/FileContentIndex/b8a8e38c-409a-41cb-b5f0-8d46d1959d1c.vsidx
giải quyết bài tập buổi 3/BÀI_TẬP_BUỔI3/BÀI_TẬP_BUỔI3.csproj
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
Lab4/Lab4/obj/Debug/Lab4.csproj.AssemblyReference.cache
Lab4/Lab4/obj/Debug/Lab4.csproj.CoreCompileInputs.cache
Lab4/Lab4/obj/Debug/Lab4.csproj.FileListAbsolute.txt
.vs/
FIREBASE_LESSON1/packages/System.Runtime.CompilerServices.Unsafe.4.5.3/useSharedDesignerContext.txt
Lab6/Lab6/packages.config
Lab6/Lab6/Properties/AssemblyInfo.cs
Lab6/packages/Google.Apis.1.70.0/LICENSE
Lab6/packages/Google.Apis.1.70.0/NuGetIcon.png
Lab6/packages/System.ValueTuple.4.5.0/version.txt
